
@{
    ViewBag.Title = "Basket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="shopBasket">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>shopping cart</h1>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-2">
                <div class="basketImageHeading">

                </div>
            </div>

            <div class="col-md-5">
                <div class="basketDescriptionItem">
                    <h3>NAME</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="basketQuantityItem">
                    <h3>QUANTITY</h3>
                </div>
            </div>
            <div class="col-md-2">
                <div class="basketPriceItem">
                    <h3>
                        PRICE
                    </h3>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="basketItem">
                <div class="col-md-2">
                    <div class="basketImage">
                        <img src="~/img/Products/extra-large.png" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="basketDescription">
                        <h2>Board Game Sleeves • XLarge</h2>
                        <p>AT-1040</p>
                        <p>Size: 59 x 92 mm</p>
                        <p>Euro-games: Large cards</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="basketQuantity">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    -
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div class="basketQuantityCount">
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    +
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="basketPrice">
                        <h3>60,-</h3>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="basketRemoveItem">
                        <img src="/img/RemoveItemIcon.png" />
                    </div>
                </div>
            </div>
        </div>

        <hr />



        <div class="row">
            <div class="basketItem">
                <div class="col-md-2">
                    <div class="basketImage">
                        <img src="~/img/Products/Mini.png" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="basketDescription">
                        <h2>Board Game Sleeves • Mini</h2>
                        <p>AT-14560</p>
                        <p>Size: 30 x 30 mm</p>
                        <p>Euro-games: Mini cards</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="basketQuantity">
                        <div class="row">
                            <div class="col-md-3">
                                <a href="#">
                                    -
                                </a>
                            </div>
                            <div class="col-md-4">
                                <div class="basketQuantityCount">
                                    <p>2</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <a href="#">
                                    +
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="basketPrice">
                        <h3>60,-</h3>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="basketRemoveItem">
                        <img src="/img/RemoveItemIcon.png" />
                    </div>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-md-9">
                <div class="basketCheckOutPush">

                </div>
            </div>

            <div class="col-md-3">
                <div class="basketCheckOut">
                   <h3>TOTAL: 120,-</h3>
                    <a href="/Shop/Checkout">
                        PROCEED TO CHECKOUT
                    </a>
                </div>
            </div>
        </div>


    </div>
</main>