h1 {
  color: #fff; }

.administrationsNavn {
  background-color: #3d3d3d;
  height: 100%;
  padding: 20px 40px; }
  .administrationsNavn h1 a {
    text-decoration: none;
    color: #fff; }
  .administrationsNavn ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .administrationsNavn ul li {
      padding: 10px 0;
      border-bottom: 1px solid #5d5d5d;
      width: 100%; }
      .administrationsNavn ul li a {
        color: #fff;
        display: block;
        text-decoration: none;
        background-image: url("/img/arrow.png");
        background-position: right, center;
        background-repeat: no-repeat; }

.createSize p {
  margin: 20px 0 0 0; }

.createSize input[type="text"], .createSize input[type="number"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box; }

.createSize textarea {
  width: 100%;
  height: 100px;
  box-sizing: border-box;
  padding: 5px; }

.login {
  margin-top: 50px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #3d3d3d; }
  .login p {
    margin: 10px 0 0 0; }
  .login input {
    width: 100%;
    padding-left: 10px;
    height: 35px;
    border: 1px solid #3d3d3d;
    box-sizing: border-box; }

#create-size-button, #edit-chosen-size-button, #product-Create-Button, .createProductButton {
  cursor: pointer;
  background-color: #3d3d3d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 15px;
  width: 200px;
  color: #fff;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border: none; }

.listOverview ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .listOverview ul li {
    padding: 15px;
    font-size: 16px;
    border: 1px solid #5d5d5d; }
  .listOverview ul li:nth-child(odd) {
    background-color: #5d5d5d;
    color: #fff; }

.listOverview img {
  margin: 0px 10px; }

#delete-size-button, #edit-product-button, #edit-size-button, #delete-product-button {
  float: right;
  cursor: pointer; }

.createProduct input[type="text"], .editProduct input[type="text"] {
  width: 100%;
  height: 40px; }

.createProduct input[type="radio"], .editProduct input[type="radio"] {
  margin: 5px 10px 5px 0; }

.createProduct textarea, .editProduct textarea {
  width: 100%;
  height: 120px; }

.createProduct select, .editProduct select {
  width: 100%;
  height: 140px; }

.createProduct p, .editProduct p {
  margin: 20px 0 0 0; }

.createProduct input[type="submit"], .editProduct input[type="submit"] {
  cursor: pointer;
  background-color: #3d3d3d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 15px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border: none; }

.delete-popup {
  display: none;
  text-align: center;
  width: 200px;
  height: 120px;
  padding: 20px;
  position: fixed;
  left: 45%;
  top: 20%;
  background-color: #fff;
  border: 1px solid #3d3d3d; }

.createProductButton {
  text-decoration: none; }

.editProduct img {
  width: 50%; }

.editProduct input[type="submit"] {
  cursor: pointer;
  background-color: #3d3d3d;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 15px;
  width: 200px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border: none; }

.admin-logo {
  display: block;
  margin-left: auto;
  margin-right: auto; }
