
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Her kan du redigere, oprette og slette produkter størelser og games</h2>
    </div>

</div>