
@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-lg-6" id="product-image">
        <img src="http://www.arcanetinmen.dk/images/board-game-sleeves-large-1024-14.jpg" alt="image-product">
    </div>
    <div class="col-lg-6" id="product-info">
        <h2>Large 20MM * 56MM</h2>
        <p>Price: </p>
        <hr>
        <p>Color: </p>
        <p>Width: </p>
        <p>Height: </p>
        <hr>
        <div id="add-to-cart">
            <p>Quantity </p>
            <input type="number" name="quantity">

            <button>LÆG I KURV</button>
        </div>
    </div>
</div>


<div class="container">

    <div class="col-lg-6" id="product-games">
        <h2>Game to use</h2>
        <ul>
            <li>A Game of Thrones LCG™</li>
            <li>Dominant Species™</li>
            <li>Eaten by Zombies!™</li>
            <li>Race for the Galaxy™</li>
            <li>Call of Cthulhu LCG™</li>
        </ul>

    </div>

    <div class="col-lg-6" id="product-description">
        <h2>Description</h2>
        <h4>
            Card Game Card Sleeves
        </h4>
        <p>Expertly engineered to fit all of your favorite games with cards sized 63.5x88mm!</p>
    </div>
</div>

