
@{
    ViewBag.Title = "SingleProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main class="productPage">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="product-image">
                    <img src="http://www.arcanetinmen.dk/images/board-game-sleeves-large-1024-14.jpg" alt="image-product">
                </div>
            </div>
            <div class="col-md-6">
                <div id="product-info">
                    <h2>Large 20MM * 56MM</h2>
                    <p>Price: </p>
                    <hr>
                    <p>Color: </p>
                    <p>Width: </p>
                    <p>Height: </p>
                    <hr>
                    <p>Dispatch: Ships within 7-10 days</p>
                    <div id="add-to-cart">
                        <p>Quantity </p>
                        <input type="number" name="quantity" min="0">
                        <div id="add-cart-button">LÆG I KURV</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="product-games">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="product-header">
                                <h2>Game to use</h2>
                            </div>
                        </div>
                    </div>
                    <ul>
                        <li><a>A Game of Thrones LCG™</a></li>
                        <li>Dominant Species™</li>
                        <li>Eaten by Zombies!™</li>
                        <li>Race for the Galaxy™</li>
                        <li>Call of Cthulhu LCG™</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div id="product-description">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="product-header">

                                <h2>Description</h2>
                            </div>
                        </div>
                    </div>

                    <p>Card Game Card Sleeves <br />Expertly engineered to fit all of your favorite games with cards sized 63.5x88mm!</p>
                </div>
            </div>
        </div>
    </div>
</main>

