
@import "base/variables";
@import "base/normalize";
@import "base/grid";
@import "base/marc";
@import "base/eyun";


$backgroundGray: #f1f1f1;

@media (max-width: 768px ) {

    .basket {
        margin-top: 0;
    }

    .frontpage {
        .browse {
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
            box-sizing: border-box;
        }

        .frontpageTop {
            img {
                display: none;
            }

            h1 {
                margin-top: 0;
                margin: 0;
            }
        }
    }

    .searchBoardGame {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .frontpageTop {
    }

    footer {
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .products {
        hr {
            display: none;
        }

        hr:first-child {
            display: block;
        }

        .product {
            border-bottom: 1px solid $backgroundGray;
        }
    }

    .productPage {
        #product-image {
            height: auto;
            margin-bottom: 20px;
        }
    }

    #product-games {
        height: auto;
    }

    #product-description{
        height: auto;
    }   
}

@media (min-width: 768px ) {
}

@media (min-width: 992px) {
}
