
@import "base/variables";
@import "base/normalize";
@import "base/grid";
@import "base/marc";
@import "base/eyun";


$backgroundGray: #f1f1f1;

@media (max-width: 768px ) {

    .basket {
        margin-top: 0;
    }

    .frontpage {
        .browse {
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
            box-sizing: border-box;
        }

        .frontpageTop {
            img {
                display: none;
            }

            h1 {
                margin-top: 0;
                margin: 0;
            }
        }
    }

    .searchBoardGame {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 20px;
    }

    .frontpageTop {
    }

    footer {
        padding: 10px 20px;
        box-sizing: border-box;
    }

    .products {
        hr {
            display: none;
        }

        hr:first-child {
            display: block;
        }

        .product {
            border-bottom: 1px solid $backgroundGray;
        }

        .col-md-4 {
            border-right: none;
        }
    }



    .productPage {
        #product-image {
            height: auto;
            margin-bottom: 20px;
        }
    }

    #product-games {
        height: auto;
    }

    #product-description {
        height: auto;
    }


    .shopBasket {

        .basketImage {
            text-align: center;
            height: auto;
            border-right: none;

            img {
                width: 100%;
            }
        }

        .basketDescription, .basketQuantity, .basketPrice {
            height: auto;
            border-right: none;
        }

        .basketQuantity {
            text-align: center;
        }

        .basketCheckOutPush {
            display: none;
        }

        .basketCheckOut {
            padding-bottom: 30px;
        }

        .basketQuantity {
            padding: 0;
            border: 1px solid $backgroundGray;
        }

        .basketPrice {
            padding: 0;
            text-align: left;
        }

        .basketRemoveItem {
            padding: 0;
            margin-top: 25px;
        }
    }

    .shopBasketDescription {
        display: none;
    }
}

@media (max-width: 992px ) {
    .basket {
        text-align: center;
        margin-top: 0;
    }

    #add-cart-button{
        width: 100%;
        box-sizing: border-box;
        float: none;
        margin: 10px 0;
    }

    .frontpage {

        .frontpageTop {
            img {
                display: none;
            }
        }
    }

    .frontpageProduct .col-md-4 {
        border-right: none;
    }

    #product-info{
        height: auto;
    }
    #product-info .basketPopup{
        width: 80%;
        bottom: 100px;
        margin: 0 15px;
        right: 10px;
    }
    

    .shopBasket {

        .basketImage {
            text-align: center;
            height: auto;
            border-right: none;

            img {
                width: 100%;
            }
        }

        .basketDescription, .basketQuantity, .basketPrice {
            height: auto;
            border-right: none;
        }

        .basketQuantity {
            text-align: center;
        }

        .basketCheckOutPush {
            display: none;
        }

        .basketCheckOut {
            padding-bottom: 30px;
        }

        .basketQuantity {
            padding: 0;
            border: 1px solid $backgroundGray;
        }

        .basketPrice {
            padding: 0;
            text-align: left;
        }

        .basketRemoveItem {
            padding: 0;
            margin-top: 25px;
        }
    }

    .shopBasketDescription {
        display: none;
    }
}
