
@import "base/variables";
@import "base/normalize";
@import "base/grid";
@import "base/marc";
@import "base/eyun";


@media (max-width: 768px ) {

    .basket {
        margin-top: 0;
    }

    .frontpage {
        .browse {
            width: 48%;
            margin-left: 1%;
            margin-right: 1%;
            box-sizing: border-box;
        }

        .frontpageTop {
            img {
                display: none;
            }

            h1 {
                margin-top: 0;
                margin: 0;
            }
        }
    }



    .searchBoardGame {
        margin-bottom: 20px;
    }

    .frontpageTop {
    }
}

@media (min-width: 768px ) {
}

@media (min-width: 992px) {
}
