@import "mixins/grid";

$borderGray: #dcdcdc;
$backgroundGray: #f1f1f1;
$backColor: #01020a;
$textBlue: #8cc1e3;

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

body {
    font-family: Mission Gothic Regular;
    color: $backColor;
}

p {
    font-family: 'Mission Gothic';
    font-weight: normal;
    font-size: 16px;
}



.basket img {
    -webkit-transition: transform 0.8s;
    transition: transform 0.8s;
}

.basket img.clicked {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.basket img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*Frontpage and layout*/
header {
    border-bottom: 1px solid $borderGray;
    padding-top: 10px;

    nav {
        ul {
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 5px 0 20px;

            li {
                display: inline-block;

                a {
                    font-size: 18px;
                    font-family: 'Mission Gothic Light';
                    font-weight: bold;
                    font-style: italic;
                    color: $backColor;
                    text-decoration: none;
                    line-height: 200%;
                }

                a:hover {
                    color: $textBlue;
                }
            }
        }
    }
}

.productLink {
    background-color: $backColor;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    text-align: center;
    padding: 5px 35px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}

.basket {
    margin-top: 75px;
}

.frontpage {
    background-color: #f2f6fa;
}

.frontpageProductDesc {
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

.frontpageProduct {
    text-align: center;

    h3 {
        margin: 5px 0 0;
        font-family: 'Mission Gothic Regular';
        font-weight: 900;
        font-style: normal;
    }

    h4 {
        margin: 3px 0 5px;
        font-family: 'Mission Gothic';
        font-weight: 500;
    }

    .col-md-4 {
        padding: 40px 0;
        border-right: 1px solid $borderGray;
    }

    .col-md-4:nth-child(3n+3) {
        border-right: none;
    }

    a:hover {
        color: $textBlue;
    }
}


.frontpageTop {
    padding-top: 40px;
    padding-bottom: 20px;


    h1 {
        font-size: 60px;
        margin-bottom: 0;
        margin-top: 65px;
    }

    h2 {
        color: $textBlue;
        font-size: 18px;
        margin-top: -15px;
    }
}


.textCenter {
    text-align: center;
}

hr {
    width: 100%;
    height: 1px;
    background-color: $borderGray;
    border: none;
    margin: 0;
    padding: 0;
}

.browse {
    background-color: $backColor;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    float: left;
    text-align: center;
    padding: 0 30px;
    margin-right: 20px;
    cursor: pointer;

    p {
        color: #fff;
        font-size: 18px;
    }
}

.searchBoardGame {
    border: 1px solid $borderGray;
    color: $borderGray;
    padding-left: 50px;
    background-image: url('/img/Search-icon.png');
    background-repeat: no-repeat;
    background-position: 15px, center;
    height: 50px;
    width: 450px;
    margin-top: 40px;
}

footer {
    padding-bottom: 20px;
    text-align: center;
    background-color: $backgroundGray;
    border-top: 2px solid $borderGray;
}

/*Products*/

.products {

    h2 {
        text-align: center;
        margin: 40px 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .col-md-4 {
        border-right: 1px solid $borderGray;
    }

    .col-md-4:nth-child(3n+3) {
        border-right: none;
    }

    hr {
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    .product {
        padding: 40px 0 40px 40px;

        img {
            width: 80%;
        }

        h3 {
            font-family: 'Mission Gothic Regular';
            font-weight: 900;
        }


        h4 {
            margin-bottom: 0;
            margin-top: 10px;
            font-family: 'Mission Gothic';
            font-weight: normal;
        }

        ul {
            li {
                font-size: 14px;
                font-family: 'Mission Gothic';
                font-weight: normal;
            }
        }

        .productLink {
            line-height: 450%;
        }

        a:hover {
            color: $textBlue;
        }
    }
}


/*Basket*/
.shopBasket {
    hr {
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    h1 {
        text-align: center;
    }

    .basketQuantity {
        text-align: center;
        height: 70px;
        padding: 45px 0;
        border-right: 1px solid $borderGray;

        #subtract-quantity, #add-quantity {
            line-height: 300%;
            color: $backColor;
            text-decoration: none;
            font-size: 25px;
            font-family: 'Mission Gothic';
            font-weight: 900;
            font-style: normal;
        }
    }

    .basketQuantityCount {
        margin-top: 23px;
        text-align: center;
        border: 1px solid $backgroundGray;

        .quantity-number {
            width: 100%;
        }
    }



    .basketPrice {
        height: 70px;
        padding: 45px 0;
        text-align: center;
        border-right: 1px solid $borderGray;

        h3 {
            margin-top: 30px;
            font-size: 24px;
        }
    }
}

.basketImage {
    height: 120px;
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid $borderGray;

    img {
        width: 75%;
    }
}

.basketImageHeading, .basketDescriptionItem, .basketQuantityItem {
    border-right: 1px solid $borderGray;
    height: 25px;
    padding: 10px;
    text-align: center;

    h3 {
        margin: 0;
    }
}

.basketPriceItem {
    border-right: 1px solid $borderGray;
    text-align: center;
    padding: 10px;

    h3 {
        margin: 0;
    }
}

.basketDescription {
    padding: 20px 0;
    border-right: 1px solid $borderGray;
    height: 120px;

    h3 {
        margin: 0;
    }

    p {
        margin: 5px 0 0;
    }
}

.basketRemoveItem {
    padding: 60px 0 0;
    cursor: pointer;

    img {
        width: 100%;
    }
}

.basketCheckOutPush {
    border-right: 1px solid $borderGray;
    height: 120px;
}

.basketCheckOut {
    a {
        background-color: $backColor;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        text-align: center;
        padding: 8px 50px;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }

    a:hover {
        color: $textBlue;
    }
}

.validation-error {
    color: #cc0000;
}

/*checkout*/

.checkOut {
    padding: 30px 0;

    h1 {
        text-align: center;
        margin: 0 0 20px;
    }

    .total {
        font-weight: bold;
    }
}

.checkoutLeft {
    p {
        margin: 20px 0 0;
    }

    input {
        width: 300px;
        height: 40px;
        border: 1px solid $borderGray;
        background-color: #fff;
    }

    .zip {
        width: 100px;
    }

    .city {
        width: 180px;
        margin-left: 15px;
    }

    .validation-error {
        margin: 0;
    }
}

.checkoutRight {

    h4 {
        margin: 20px 0 0;
    }

    p {
        margin: 10px 0;
        float: left;
    }

    span {
        margin: 10px 0;
        float: right;
    }

    textarea {
        width: 100%;
        height: 140px;
    }

    input[type=submit] {
        margin-top: 20px;
        background-color: $backColor;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        text-align: center;
        padding: 8px 50px;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        border: none;
    }

    hr {
        clear: both;
    }

    input[type=submit]:hover {
        color: $textBlue;
    }
}

.clear {
    clear: both;
}

.GamesTable {
    .firstGameCol, .secoundGameCol {
        cursor: pointer;
    }

    a {
        color: $backColor;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    td {
        margin-bottom: 20px;
        font-family: 'Mission Gothic';
        font-weight: normal;
    }

    margin-bottom: 40px;
}


.about {

    h2 {
        margin: 30px 0 0 0;
    }

    p {
        margin: 0 0 20px;
    }

    padding-bottom: 40px;
}

.productPage {
    padding-top: 30px;
}

.product-box {
    min-height: 150px;
    border: 1px solid $borderGray;
}

#product-image {
    @extend .product-box;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 65%;
    }
}

#product-info {
    @extend .product-box;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: $backgroundGray;

    .basketPopup {
        display: none;
        bottom: 65px;
        right: 60px;
        text-align: center;
        width: 165px;
        height: 50px;
        padding: 10px;
        border: 1px solid $borderGray;
        position: absolute;
        background-size: 20px;
        background-color: #fff;
        padding-bottom: 18px;

        .basketPopupcontent {
            margin-bottom: 7px;
        }

        img {
        }

        h4 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 24px;
            font-family: 'Mission Gothic';
            font-weight: 900;
            font-style: italic;
        }

        p {
            font-size: 16px;
            font-family: 'Mission Gothic Light';
        }
    }

    hr {
        margin: 15px 0px 15px 0px;
        background-color: #dcdcdc;
    }

    p {
        margin: 0px;
    }

    input {
        width: 50px;
    }

    #add-to-cart {
        margin-top: 30px;

        p {
            float: left;
            margin-right: 15px;
        }

        button {
            float: right;
        }
    }
}

@mixin productHeaders {
    .product-header {
        margin: -77px 0px 0px -1px;
        border: 1px solid $borderGray;
        height: 75px;
        width: 50%;
    }

    h2 {
        text-align: center;
    }

    margin-top: 200px;

    p {
        margin: 15px;
    }
}

#product-games {
    @extend .product-box;
    @include productHeaders;
    margin-top: 150px;
    width: 100%;

    ul {
        list-style-type: none;
        margin-left: -20px;
    }

    h2 {
        margin: 14px 0;
    }
}

#product-description {
    @extend .product-box;
    @include productHeaders;
    margin-top: 150px;
    width: 100%;
    margin-bottom: 20px;

    h2 {
        margin: 14px 0;
    }
}

.button {
    background-color: $textBlue;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    float: right;
    text-align: center;
    padding: 10px 60px 10px 60px;
    margin-right: 20px;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: black;
    }
}


#add-cart-button {
    @extend .button;
}

#print-receipt {
    @extend .button;
    float: left;
    margin-bottom: 30px;

    &:after {
        clear: both;
    }
}

/*Confirmation Order*/

.order-receipt{
    color: $backColor;
}

#confirmation-items {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}


table {
    max-width: 100%;
}

table, td {
    border: 1px solid black;
    padding: 5px;
    vertical-align: baseline;
}

th {
    padding: 10px;
    font-size: 1.2em;
    min-width: 150px;
    width: 300px;
    max-width: 100%;
}

thead {
    background-color: $textBlue;
}

thead th.column-active {
    color: white;
}

tbody tr:nth-child(2n+1) {
    background-color: rgb(230,230,230);
}


.contact {
    padding-bottom: 30px;

    #googlemaps img {
        width: 100%;
    }

    table {
        width: 100%;
        height: 250px;
    }

    table td {
        vertical-align: super;
        width: 50%;
    }

    .colorGray {
        color: rgb(135, 135, 135);
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    textarea {
        height: 200px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .marginTop0 {
        margin-top: 0;
    }

    p {
        margin: 20px 0 0 0;
    }

    .validation-error {
        margin: 0 0 20px;
    }


    #contactFormSendBtn {
        padding: 5px;
        margin-top: 11px;
        width: 300px;
        background-color: #01020a;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        color: white;
        border-width: 0;
    }
}

/*Index search*/

#game-dropdown {
    width: 500px;
    display: none;
}

.product-option {
    height: 100px;
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin: 10px;
}

#game-dropdown option:hover {
    background-color: #f2f6fa;
    cursor: pointer;
}

#size-dropdown option:hover {
    background-color: #f2f6fa;
    cursor: pointer;
}

#size-dropdown {
    width: 600px;
    display: none;
}

.size-option {
    height: 50px;
    margin: 10px;
}

.search-size {
    display: none;
}

.searchWidthHeight {
    border: 1px solid $borderGray;
    color: $borderGray;
    padding-left: 50px;
    background-image: url('/img/Search-icon.png');
    background-repeat: no-repeat;
    background-position: 15px, center;
    height: 50px;
    width: 235px;
    margin-right: 10px;
    margin-top: 40px;
}

.highlight-browse {
    opacity: 0.5;

    &:hover {
        opacity: 1.0;
    }
}


/*Basket*/
#add-quantity, #subtract-quantity {
    cursor: pointer;
}


#add-quantity:hover, #subtract-quantity:hover {
    color: $textBlue;
}


input[type=number] {
    -moz-appearance: textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#progress {
    width: 100px;
    position: absolute;
    left: 45%;
    top: 40%;
    z-index: 5000;
    display: none;
}

#ps-productname {
    margin-bottom: 0;
    margin-top: 5px;
}

#ps-title {
    margin-top: 5px;
}
