.productPage {
    padding-top: 30px;
}

.product-box {
    height: 350px;
    border: 1px solid grey;
}

#product-image {
    @extend .product-box;
    text-align: center;
    padding: 20px;

    img {
        width: 40%;
    }
}

#product-info {
    @extend .product-box;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;

    hr {
        border: 1px solid black;
    }

    p {
        margin: 0px;
    }

    input {
        width: 50px;
    }

    #add-to-cart {
        p {
            float: left;
            margin: 5px;
        }

        button {
            float: right;
        }
    }
}

@mixin productHeaders {
    h2 {
        margin: -75px 0px 0px -16px;
        border: 1px solid grey;
        padding: 15px 0px 25px 15px;
        height: 75px;
    }
}

#product-games {
    @extend .product-box;
    @include productHeaders;
    margin-top: 200px;
    width: 100%;
}

#product-description {
    @extend .product-box;
    @include productHeaders;
    margin-top: 200px;
    width: 100%;
}
