$borderGray: #dcdcdc;
$backgroundGray: #f1f1f1;
$backColor: #01020a;


.productPage {
    padding-top: 30px;
}

.product-box {
    height: 380px;
    border: 1px solid $borderGray;
}

#product-image {
    @extend .product-box;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 65%;
    }
}

#product-info {
    @extend .product-box;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: $backgroundGray;

    .basketPopup {
        display: none;
        bottom: 65px;
        right: 60px;
        text-align: center;
        width: 165px;
        height: 50px;
        padding: 10px;
        border: 1px solid $borderGray;
        position: absolute;
        background-size: 20px;
        background-color: #fff;
        padding-bottom: 18px;

        .basketPopupcontent {
            margin-bottom: 7px;
        }

        img {
        }

        h4 {
            margin: 0;
            margin-bottom: 5px;
            font-size: 24px;
            font-family: 'Mission Gothic';
            font-weight: 900;
            font-style: italic;
        }

        p {
            font-size: 16px;
            font-family: 'Mission Gothic Light';
        }
    }

    hr {
        margin: 15px 0px 15px 0px;
        background-color: #dcdcdc;
    }

    p {
        margin: 0px;
    }

    input {
        width: 50px;
    }

    #add-to-cart {
        margin-top: 50px;

        p {
            float: left;
            margin-right: 15px;
        }

        button {
            float: right;
        }
    }
}

@mixin productHeaders {
    .product-header {
        margin: -78px 0px 0px -1px;
        border: 2px solid $borderGray;
        height: 75px;
        width: 50%;
    }

    h2 {
        text-align: center;
    }

    margin-top: 200px;

    p {
        margin: 15px;
    }
}

#product-games {
    @extend .product-box;
    @include productHeaders;
    margin-top: 150px;
    width: 100%;

    ul {
        list-style-type: none;
        margin-left: -20px;
    }
}

#product-description {
    @extend .product-box;
    @include productHeaders;
    margin-top: 150px;
    width: 100%;
    margin-bottom: 20px;
}

.button {
    background-color: deepskyblue;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    float: right;
    text-align: center;
    padding: 10px 60px 10px 60px;
    margin-right: 20px;
    cursor: pointer;
    color: white;

    &:hover {
        background-color: black;
    }
}


#add-cart-button {
    @extend .button;
}

#print-receipt {
    @extend .button;
}

/*Confirmation Order*/
#confirmation-items {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
}

/*Index search*/

#game-dropdown {
    width: 500px;
    display: none;
}

.product-option {
    height: 100px;
    background-size: 100px 100%;
    background-repeat: no-repeat;
    background-position: right;
    margin: 10px;
}

#game-dropdown option:hover {
    background-color: #f2f6fa;
    cursor: pointer;
}

#size-dropdown option:hover {
    background-color: #f2f6fa;
    cursor: pointer;
}

#size-dropdown {
    width: 600px;
    display: none;
}

.size-option {
    height: 50px;
    margin: 10px;
}

.search-size {
    display: none;
}

.searchWidthHeight {
    border: 1px solid $borderGray;
    color: $borderGray;
    padding-left: 50px;
    background-image: url('/img/Search-icon.png');
    background-repeat: no-repeat;
    background-position: 15px, center;
    height: 50px;
    width: 235px;
    margin-right: 10px;
    margin-top: 40px;
}

.highlight-browse {
    opacity: 0.5;

    &:hover {
        opacity: 1.0;
    }
}


/*Basket*/
#add-quantity, #subtract-quantity {
    cursor: pointer;
}


#add-quantity:hover, #subtract-quantity:hover {
    box-shadow: 2px 2px 2px 2px grey;
}


input[type=number] {
    -moz-appearance: textfield;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#progress {
    position: absolute;
    left: 45%;
    top: 50%;
    z-index: 5000;
    display: none;
}
