.productPage {
    padding-top: 30px;
}

.product-box {
    height: 380px;
    border: 1px solid grey;
}

#product-image {
    @extend .product-box;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;

    img {
        width: 40%;
    }
}

#product-info {
    @extend .product-box;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    background-color: lightgray;

    hr {
        margin: 15px 0px 15px 0px;
        background-color: black;
    }

    p {
        margin: 0px;
    }

    input {
        width: 50px;
    }

    #add-to-cart {
        margin-top: 50px;
        p {
            float: left;
            margin-right: 15px;
        }

        button {
            float: right;
        }
    }
}

@mixin productHeaders {
    .product-header {
        
        margin: -78px 0px 0px -1px;
        border: 1px solid grey;
        height: 75px;
        width: 50%;
        
    }
    h2{
        text-align: center;
    }
    margin-top: 200px;
    p{
        margin: 15px;
    }
}

#product-games {
    @extend .product-box;
    @include productHeaders;
    margin-top: 150px;
    width: 100%;
    ul{
        list-style-type: none;
    }
    

}

#product-description {
    @extend .product-box;
    @include productHeaders;

    margin-top: 150px;
    width: 100%;
    margin-bottom: 20px;
}

#add-cart-button{
    background-color: deepskyblue;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    float: right;
    text-align: center;
    padding: 10px 60px 10px 60px;
    margin-right: 20px;
    cursor: pointer;
    color: white;

    &:hover{
        background-color: black;
    }
}