@import "mixins/grid";

body {
    font-family: Mission Gothic Regular;
}

$borderGray: #dcdcdc;
$backgroundGray: #f1f1f1;
$backColor: #01020a;
$textBlue: #8cc1e3;


/*Frontpage and layout*/
header {
    border-bottom: 1px solid $borderGray;
    padding-top: 10px;

    nav {
        ul {
            list-style-type: none;
            text-align: center;
            margin: 0;
            padding: 5px 0 20px;

            li {
                display: inline-block;

                a {
                    font-size: 18px;
                    font-family: 'Mission Gothic Light';
                    font-weight: bold;
                    font-style: italic;
                    color: $backColor;
                    text-decoration: none;
                    line-height: 200%;
                }

                a:hover {
                    color: $textBlue;
                }
            }
        }
    }
}

.basket {
    margin-top: 75px;
}

.frontpage {
    background-color: #f2f6fa;
}

.frontpageProductDesc {
    margin-top: 20px;
    text-align: center;

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }
}

.frontpageProduct {
    text-align: center;

    h3 {
        margin: 5px 0 0;
        font-family: 'Mission Gothic';
        font-weight: 900;
        font-style: normal;
    }

    h4 {
        margin: 3px 0 5px;
        font-family: 'Mission Gothic Light';
    }

    .col-md-4 {
        padding: 40px 0;
        border-right: 1px solid $borderGray;
    }

    .col-md-4:nth-child(3n+3) {
        border-right: none;
    }

    a {
        background-color: $backColor;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        text-align: center;
        padding: 5px 35px;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }

    a:hover {
        color: $textBlue;
    }
}


.frontpageTop {
    padding-top: 40px;
    padding-bottom: 20px;


    h1 {
        font-size: 60px;
        margin-bottom: 0;
        margin-top: 65px;
    }

    h2 {
        color: $textBlue;
        font-size: 18px;
        margin-top: -15px;
    }
}


.frontpageProduct {
}

.textCenter {
    text-align: center;
}

hr {
    width: 100%;
    height: 1px;
    background-color: $borderGray;
    border: none;
    margin: 0;
    padding: 0;
}

.browse {
    background-color: $backColor;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    float: left;
    text-align: center;
    padding: 0 30px;
    margin-right: 20px;
    cursor: pointer;

    p {
        color: #fff;
        font-size: 18px;
    }
}

.searchBoardGame {
    border: 1px solid $borderGray;
    color: $borderGray;
    padding-left: 50px;
    background-image: url('/img/Search-icon.png');
    background-repeat: no-repeat;
    background-position: 15px, center;
    height: 50px;
    width: 450px;
    margin-top: 40px;
}

footer {
    padding-bottom: 20px;
    text-align: center;
    background-color: $backgroundGray;
    border-top: 2px solid $borderGray;
}

/*Products*/

.products {

    h1 {
        text-align: center;
        margin: 40px 0;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .col-md-4 {
        border-right: 1px solid $borderGray;
    }

    .col-md-4:nth-child(3n+3) {
        border-right: none;
    }

    hr {
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    .product {
        padding: 40px 0 40px 40px;

        img {
            width: 80%;
        }

        h3 {
            font-family: 'Mission Gothic';
            font-weight: 900;
            font-style: normal;
        }


        h4 {
            margin-bottom: 0;
            margin-top: 10px;
            font-family: 'Mission Gothic Light';
        }

        ul {
            li {
                font-size: 14px;
            }
        }

        a {
            background-color: $backColor;
            -moz-border-radius: 35px;
            -webkit-border-radius: 35px;
            border-radius: 35px;
            text-align: center;
            padding: 8px 50px;
            color: #fff;
            font-size: 15px;
            text-decoration: none;
            line-height: 450%;
        }

        a:hover {
            color: $textBlue;
        }
    }
}


/*Basket*/
.shopBasket {
    hr {
        overflow: hidden;
        position: absolute;
        left: 0;
    }

    h1 {
        text-align: center;
    }

    .basketQuantity {
        height: 70px;
        padding: 45px 0;
        border-right: 1px solid $borderGray;

        a {
            line-height: 300%;
            color: $backColor;
            text-decoration: none;
            font-size: 25px;
            font-family: 'Mission Gothic';
            font-weight: 900;
            font-style: normal;
        }
    }

    .basketQuantityCount {
        margin-top: 10px;
        text-align: center;
        border: 1px solid $backgroundGray;
    }

    .basketPrice {
        height: 70px;
        padding: 45px 0;
        text-align: center;
        border-right: 1px solid $borderGray;

        h3 {
            margin-top: 30px;
            font-size: 24px;
        }
    }
}

.basketImage {
    height: 120px;
    padding: 20px 0;
    text-align: center;
    border-right: 1px solid $borderGray;

    img {
        width: 75%;
    }
}

.basketImageHeading, .basketDescriptionItem, .basketQuantityItem {
    border-right: 1px solid $borderGray;
    height: 25px;
    padding: 10px;
    text-align: center;

    h3 {
        margin: 0;
    }
}

.basketPriceItem {
    border-right: 1px solid $borderGray;
    text-align: center;
    padding: 10px;

    h3 {
        margin: 0;
    }
}

.basketDescription {
    padding: 20px 0;
    border-right: 1px solid $borderGray;
    height: 120px;

    h2 {
        margin: 0;
    }

    p {
        margin: 5px 0 0;
    }
}

.basketRemoveItem {
    padding: 60px 0 0;

    img {
        width: 100%;
    }
}

.basketCheckOutPush {
    border-right: 1px solid $borderGray;
    height: 120px;
}

.basketCheckOut {
    a {
        background-color: $backColor;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        text-align: center;
        padding: 8px 50px;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
    }

     a:hover {
        color: $textBlue;
    }
}


/*checkout*/

.checkOut {
    padding: 30px 0;

    h1 {
        text-align: center;
        margin: 0 0 20px;
    }
}

.checkoutLeft {
    p {
        margin: 20px 0 0;
    }

    input {
        width: 300px;
        height: 40px;
        border: 1px solid $borderGray;
        background-color: #fff;
    }

    .zip {
        width: 100px;
    }

    .city {
        width: 180px;
        margin-left: 20px;
    }
}

.checkoutRight {

    h4 {
        margin: 20px 0 0;
    }

    p {
        margin: 10px 0;
        float: left;
    }

    span {
        margin: 10px 0;
        float: right;
    }

    textarea {
        width: 100%;
        height: 140px;
    }

    a {
        background-color: $backColor;
        -moz-border-radius: 35px;
        -webkit-border-radius: 35px;
        border-radius: 35px;
        text-align: center;
        padding: 8px 50px;
        color: #fff;
        font-size: 15px;
        text-decoration: none;
        line-height: 450%;
    }

    hr{
        clear: both;
    }

     a:hover {
        color: $textBlue;
    }
}

.clear {
    clear: both;
}

@font-face {
    font-family: 'Mission Gothic Regular';
    src: url('/font/MissionGothic-RegularItalic.eot');
    src: url('/font/MissionGothic-RegularItalic.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-RegularItalic.woff') format('woff'), url('/font/MissionGothic-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Mission Gothic';
    src: url('/font/MissionGothic-Regular.eot');
    src: url('/font/MissionGothic-Regular.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-Regular.woff') format('woff'), url('/font/MissionGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Gothic';
    src: url('/font/MissionGothic-Black.eot');
    src: url('/font/MissionGothic-Black.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-Black.woff') format('woff'), url('/font/MissionGothic-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Gothic Bold';
    src: url('/font/MissionGothic-BoldItalic.eot');
    src: url('/font/MissionGothic-BoldItalic.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-BoldItalic.woff') format('woff'), url('/font/MissionGothic-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Mission Gothic';
    src: url('/font/MissionGothic-Bold.eot');
    src: url('/font/MissionGothic-Bold.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-Bold.woff') format('woff'), url('/font/MissionGothic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Gothic';
    src: url('/font/MissionGothic-Light.eot');
    src: url('/font/MissionGothic-Light.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-Light.woff') format('woff'), url('/font/MissionGothic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Gothic Thin';
    src: url('/font/MissionGothic-ThinItalic.eot');
    src: url('/font/MissionGothic-ThinItalic.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-ThinItalic.woff') format('woff'), url('/font/MissionGothic-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Mission Gothic Black';
    src: url('/font/MissionGothic-BlackItalic.eot');
    src: url('/font/MissionGothic-BlackItalic.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-BlackItalic.woff') format('woff'), url('/font/MissionGothic-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Mission Gothic';
    src: url('/font/MissionGothic-Thin.eot');
    src: url('/font/MissionGothic-Thin.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-Thin.woff') format('woff'), url('/font/MissionGothic-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Mission Gothic Light';
    src: url('/font/MissionGothic-LightItalic.eot');
    src: url('/font/MissionGothic-LightItalic.eot?#iefix') format('embedded-opentype'), url('/font/MissionGothic-LightItalic.woff') format('woff'), url('/font/MissionGothic-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}





/*@media (min-width: @screen-sm-min) {
    .browse{
        width: 46%;
        margin: 0 2%;
    }
}


@media (min-width: @screen-md-min) { }


@media (min-width: @screen-lg-min) {  }*/