$bootstrap-sass-asset-helper: false !default;
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; 
$gray-dark:              lighten($gray-base, 20%) !default;  
$gray:                   lighten($gray-base, 33.5%) !default; 
$gray-light:             lighten($gray-base, 46.7%) !default; 
$gray-lighter:           lighten($gray-base, 93.5%) !default; 
$brand-primary:         darken(#428bca, 6.5%) !default; 
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;
$body-bg:               #fff !default;
$text-color:            $gray-dark !default;
$link-color:            $brand-primary !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
$font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; 
$font-size-small:         ceil(($font-size-base * 0.85)) !default; 
$font-size-h1:            floor(($font-size-base * 2.6)) !default;
$font-size-h2:            floor(($font-size-base * 2.15)) !default; 
$font-size-h3:            ceil(($font-size-base * 1.7)) !default;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default;
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; 
$line-height-base:        1.428571429 !default; 
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; 
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/bootstrap/") !default;
$icon-font-name:          "glyphicons-halflings-regular" !default;
$icon-font-svg-id:        "glyphicons_halflingsregular" !default;
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;
$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;
$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;
$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;
$line-height-large:         1.3333333 !default; 
$line-height-small:         1.5 !default;
$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;
$component-active-color:    #fff !default;
$component-active-bg:       $brand-primary !default;
$caret-width-base:          4px !default;
$caret-width-large:         5px !default;
$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;
$screen-lg:                  1024px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$grid-columns:              12 !default;
$grid-gutter-width:         30px !default;
$grid-float-breakpoint:     $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;
$container-tablet:             (720px + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;
$container-desktop:            (940px + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;
$container-large-desktop:      (1024px + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;
$modal-inner-padding:         15px !default;
$modal-title-padding:         15px !default;
$modal-title-line-height:     $line-height-base !default;
$modal-content-bg:                             #fff !default;
$modal-content-border-color:                   rgba(0,0,0,.2) !default;
$modal-content-fallback-border-color:          #999 !default;
$modal-backdrop-bg:           #000 !default;
$modal-backdrop-opacity:      .5 !default;
$modal-header-border-color:   #e5e5e5 !default;
$modal-footer-border-color:   $modal-header-border-color !default;

$modal-lg:                    900px !default;
$modal-md:                    600px !default;
$modal-sm:                    300px !default;

