
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2>About Board Game Sleeves</h2>
	<p>Game Board Sleeves is a company founded in Denmark 2001</p>
	<p>Our goal is to give qwojoiasdjoa</p>
</div>

