
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css
{

}
<div class="container contact">
    <div class="row">
        <div class="col-xs-12">
            <h2>CONTACT US</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <h2>Address</h2>
            <div class="row">
                <div class="col-md-6">

                    <h3 class="marginTop0">Board Game Sleeves</h3>
                    <span>
                        Bjoernholms Allé 4-6 <br />
                        DK-8260 Viby J <br />
                        Denmark  <br />
                        <br />
                        <span class="colorGray">Phone: </span> 0045 8676 5636<br />
                        <span class="colorGray">Email: </span>info@arcanetinmen.dk
                    </span>
                </div>
                <div class="col-md-6">
                    <div id="googlemaps">
                        <img src="~/img/maps.PNG" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <h2>Contact Formula</h2>
            <div>
                <input type="email" placeholder="Email" />
                <br />
                <br />
                <textarea placeholder="Your Inquiry"></textarea>
                <button id="contactFormSendBtn">SEND</button>
            </div>
        </div>
    </div>
</div>
