
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
	<style>
		#googlemaps
		{
			width:100%;
			height:100%;
			background-color:blue;
		}

		table
		{
			width:100%;
			height: 250px;
		}
		table td
		{
			vertical-align: super;
			width:50%;
		}
		.colorGray
		{
			color:rgb(135, 135, 135)
		}

		input[type=email]
		{
			width:100%;
			padding: 10px;
			box-sizing:border-box;
		}
		textarea
		{
			height:200px;
			width:100%;
			padding: 10px;
			box-sizing:border-box;
		}
		.marginTop0
		{
			margin-top:0;
		}
		#contactFormSendBtn
		{
			padding: 5px;
			margin-top: 11px;
			width: 300px;
			background-color: #01020a;
			-moz-border-radius: 35px;
			-webkit-border-radius: 35px;
			border-radius: 35px;
			color: white;
			border-width: 0;
		}
	</style>
	
}

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1>CONTACT US</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<h2>Address</h2>
			<table>
				<tbody>
					<tr>
						<td>
							<h3 class="marginTop0">Board Game Sleeves</h3>
							<span>
								Bjoernholms Allé 4-6 <br />
								DK-8260 Viby J <br />
								Denmark  <br />
								<br />
								<span class="colorGray">Phone: </span> 0045 8676 5636<br />
								<span class="colorGray">Email: </span>info@arcanetinmen.dk
							</span>
						</td>
						<td>
							<div id="googlemaps">
								Google maps
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-xs-12 col-md-6">
			<h2>Contact Formula</h2>
			<div>
				<input type="email" placeholder="Email" />
				<br />
				<br />
				<textarea placeholder="Your Inquiry"></textarea>
				<button id="contactFormSendBtn">SEND</button>
			</div>
		</div>
	</div>
</div>

