@using BoardGameSleeveWebsite.Models
@model VMHome

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="frontpage">
    <div class="frontpageTop">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>BOARD GAME SLEEVES</h1>
                            <h2>PROTECT YOUR CARDS</h2>
                            <p>Let the cards last as long as the game, Avoid bended <br /> corners, scratches and natural tearing with a transparent<br> sleeve.</p>

                            <div class="browse">
                                <p>BROWSE BY GAME</p>
                            </div>
                            <div class="browse">
                                <p>BROWSE BY SIZE</p>
                            </div>

                            <input class="searchBoardGame" type="text" name="name" value="" placeholder="Enter the name of the board game" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img width="100%" src="/img/frontpageSpot.png" />
                </div>
            </div>
        </div>
    </div>

    <div class="frontpageProductDesc">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>We have 8 different sizes</h2>
                    <p>
                        Select which one will fit your game, either by looking<br />
                        at the game manual, or by searching by game above.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="frontpageProduct">
        <div class="container">
            <div class="row">
                @foreach (var p in Model.Products)
                {
                    <div class="col-md-4">
                        <img src="~/img/product.png" />
                        <h3>Board Game Sleeves • @p.Size.Name</h3>
                        <h4>Size @p.Size.Width x @p.Size.Height mm</h4>
                        @{ 
                            string href = "href=/product/singleproduct/" + p.ID;
                        }
                        <a @href>Select this size</a>
                    </div>
                 }
                
         
            </div>
        </div>
    </div>
</main>
